services:
  web:
    env_file:
      - .env
    build:
      context: .
      dockerfile: web/Dockerfile
    working_dir: /rails-assignment
    volumes:
      - .:/rails-assignment
    command: sleep infinity
    ports:
      - "3000:3000"
    depends_on:
      - db

  db:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: myapp_development
    ports:
      - "3306:3306"
    volumes:
      - db-data:/var/lib/mysql

volumes:
  db-data:
